body {
    background-color: #f2f2f2;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
}

#image-input {
    display: none;
}

#scan-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scan-button:hover {
    background-color: #3e8e41;
}

#text-output {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#save-docx-button, #save-pdf-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-docx-button:hover, #save-pdf-button:hover {
    background-color: #3e8e41;
}

#download-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#download-button:hover {
    background-color: #3e8e41;
}
